<section>
    <div id="footer-container">
        <footer id="footer">
            <hr class="footer-hr" />
            <p>
                &copy; <%= Time.now.year %> 
                <%= link_to 'The MITRE Corporation', 'https://www.mitre.org' %>.<br />
                All rights reserved.
            </p>
        </footer>
    </div>
</section>