<section>
    <div id="header-container">
        <header id="header">
            <a href="/" class="header-title-container">
                <%= image_tag "logo_placeholder.png", class: "logo" %>
                <div class="header-title">Project Name Placeholder</div>
            </a>
            <a href="/" class="header-button">
                <div class="header-button-text">
                    Header
                </div>
            </a>
            <a href="/" class="header-button">
                <div class="header-button-text">
                    Buttons
                </div>
            </a>
        </header>
    </div>
</section>