<h1>Landing page (Home#home)</h1>
<p>
    Find this page in app/views/home/home.html.erb <br />
    Find the header partial at app/views/partials/_header.html.erb <br />
    Find the footer partial at app/views/partials/_footer.html.erb <br />
</p>