<% sh_doc = "http://htmlpreview.github.io/?https://github.com/paciowg/base-fhir-client-rails/" %>
<% sh_doc += "blob/master/doc/SessionHandler.html" %>

<h1>This is the landing page (Home#index)</h1>
<h3>Customization</h3>
<ul>
    <li>
        <strong>Model</strong>
        <ul>
            <li>
                Session Handler
                <ul>
                    <li>
                        Automatically establishes <code>SessionHandler</code> by calling 
                        <code>SessionHandler.establish</code> for this session upon reaching 
                        <code>Home#index</code> (the landing page)
                    </li>
                    <li>
                        For instruction on how to use, check out the 
                        <a href="<%= sh_doc %>" target="_blank">
                            SessionHandler documentation
                        </a>
                    </li>
                    <li>
                        In essence, it handles both a FHIR server connection and session-specfic 
                        storage in memory <br />
                        After 30 minutes of session inactivity, it is deleted to protect 
                        against memory leaks
                        <ul>
                            <li>
                                All <code>SessionHandler</code> methods begin by updating the 
                                session's last active time, which resets the 30 minute timer <br /> 
                                If this will not suffice and you wish to indicate that a session 
                                is still active without directly using another 
                                <code>SessionHandler</code> method, you can just call 
                                <code>SessionHandler.active</code> directly to refresh the timer
                            </li>
                        </ul>
                                
                    </li>
                    <li>
                        Connection
                        <ul>
                            <li>
                                <strong>Requires configuration</strong> - must set 
                                <code>@base_server_url</code> to the base url for the FHIR server 
                                you want your client to connect to! <br />
                                Also, if you intend on communicating with a server using OAuth2 
                                authentication, remember to set <code>@oauth2_id</code> and 
                                <code>@oauth2_secret</code> accordingly <br />
                                These can be found at the top of 
                                <code>app/models/fhir_server_interaction.rb</code> 
                            </li>
                            <li>
                                There are 3 connection methods in <code>SessionHandler</code> 
                                which can each be seen in more detail 
                                <a href="<%= sh_doc %>" target="_blank">here</a>
                                <ul>
                                    <li>
                                        <code>SessionHandler.fhir_client</code> - returns the 
                                        instance of <code>FHIR::Client</code>
                                        (<a href="https://github.com/fhir-crucible/fhir_client" 
                                                target="_blank">
                                            repo
                                        </a>) that facilitates interaction with the FHIR server
                                    </li>
                                    <li>
                                        <code>SessionHandler.reset_connection</code> - resets the 
                                        connection used by <code>FHIR::Client</code>, may be used 
                                        to change FHIR servers
                                    </li>
                                    <li>
                                        <code>SessionHandler.all_resources</code> - iterates 
                                        through each bundle from a given search and returns an 
                                        array of all the resulting resources
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Storage
                        <ul>
                            <li>
                                Establishing <code>SessionHandler</code> begins storage in 
                                <code>Rails.cache</code> for in-memory server-side 
                                session-specific storage
                            </li>
                            <li>
                                There are 2 storage methods in <code>SessionHandler</code> which 
                                can each be seen in more detail 
                                <a href="<%= sh_doc %>" target="_blank">here</a>
                                <ul>
                                    <li>
                                        <code>SessionHandler.store</code> - stores 
                                        <code>value</code> in <code>Rails.cache</code> with a key 
                                        of <code>key</code> 
                                    </li>
                                    <li>
                                        <code>SessionHandler.from_storage</code> - returns a 
                                        specific value from the <code>Rails.cache</code> storage 
                                        as referenced by <code>key</code>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>View</strong>
        <ul>
            <li>
                Bootstrap
                <ul>
                    <li>
                        This site is configured to use
                        <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" 
                                target="_blank">
                            Bootstrap
                        </a>
                        the way it might be used anywhere else
                    </li>
                </ul>
            </li>
            <li>
                Bootstrap Toggle
                <ul>
                    <li>
                        This site is configured to use
                        <a href="https://www.bootstraptoggle.com/" target="_target">
                            bootstrap-toggle
                        </a>
                        the way it might be used anywhere else with some slight exception
                    </li>
                    <li>
                        In order to use bootstrap-toggle, you must give your input tag the 
                        <code>.bootstrap-toggle</code> class <br /> 
                        For example, the following tag: <br />
                        <code>
                            &lt;input class="bootstrap-toggle" type="checkbox" checked 
                            data-toggle="toggle" data-on="Bootstrap" data-off="Toggle" 
                            data-onstyle="primary" data-offstyle="secondary"&gt;
                        </code> <br />
                        produces this:
                    </li>
                    <input class="bootstrap-toggle" type="checkbox" checked data-toggle="toggle" 
                            data-on="Bootstrap" data-off="Toggle" data-onstyle="primary" 
                            data-offstyle="secondary">
                </ul>
            </li>
            <li>
                jQuery
                <ul>
                    <li>
                        This site is configured to use
                        <a href="https://api.jquery.com/" target="_blank">jQuery</a>
                        the way it might be used anywhere else
                    </li>
                    <li>
                        If you're interested in seeing an example of it in use, feel free to look 
                        at <code>app/assets/javascripts/bootstrap-toggle-listener.js</code>
                    </li>
                </ul>
            </li>
            <li>
                Colors
                <ul>
                    <li>
                        You can customize this site's color scheme by altering the 
                        <code>$color</code> variables at the top of 
                        <code>app/assets/stylesheets/application.scss</code>
                    </li>
                    <li>
                        These variables are defined before importing bootstrap, which allows you 
                        to alter bootstrap's 
                        <a href="https://getbootstrap.com/docs/4.0/utilities/colors/" 
                                target="_blank">
                                color definitions
                        </a>
                    </li>
                    <li>
                        If you don't want your color scheme to override bootstrap's, simply delete 
                        those <code>$color</code> definitions before 
                        <code>@import 'bootstrap';</code> at the top of 
                        <code>app/assets/stylesheets/application.scss</code> and either define 
                        your colors after it or use the bootstrap color scheme
                    </li>
                </ul>
            </li>
            <li>
                Landing Page
                <ul>
                    <li>The site's landing page is configured to be <code>Home#index</code></li>
                    <li>
                        What you're looking at now can be found and edited at 
                        <code>app/views/home/index.html.erb</code>
                    </li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li>
                        You can find and edit the header partial at 
                        <code>app/views/partials/_header.html.erb</code>
                    </li>
                    <li>
                        It is automatically rendered throughout every page of the website <br />
                        If you wish to stop this from happening, simply go to 
                        <code>app/views/layouts/application.html.erb</code> and remove the 
                        <code><%%= render 'partials/header' %></code> tag
                    </li>
                </ul>
            </li>
            <li>
                Footer
                <ul>
                    <li>
                        You can find and edit the footer partial at 
                        <code>app/views/partials/_footer.html.erb</code>
                    </li>
                    <li>
                        It is automatically rendered throughout every page of the website <br />
                        If you 
                        wish to stop this from happening, simply go to 
                        <code>app/views/layouts/application.html.erb</code> and remove the 
                        <code><%%= render 'partials/footer' %></code> tag
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>Documentation</strong> - Configured to use 
        <a href="https://github.com/ruby/rdoc" target="_blank">RDoc</a>
    </li>
</ul>