<h1>Landing page (Home#index)</h1>
<p>
    Find this page in app/views/home/index.html.erb <br />
    Find the header partial at app/views/partials/_header.html.erb <br />
    Find the footer partial at app/views/partials/_footer.html.erb <br />
</p>