<h1>This is the Landing page (Home#index)</h1>
<h3>Customization</h3>
<ul>
    <li>
        <strong>Model</strong>
        <ul>
            <li>
                Session Tracker
                <ul>
                    <li>
                        TODO
                    </li>
                </ul>
            </li>
            <li>
                Server Interaction
                <ul>
                    <li>
                        TODO
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <strong>View</strong>
        <ul>
            <li>
                Bootstrap
                <ul>
                    <li>
                        This site is configured to use
                        <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" 
                                target="_blank">
                            Bootstrap
                        </a>
                        the way it might be used anywhere else
                    </li>
                </ul>
            </li>
            <li>
                Bootstrap Toggle
                <ul>
                    <li>
                        This site is configured to use
                        <a href="https://bootstraptoggle.com" target="_target">bootstrap-toggle</a>
                        the way it might be used anywhere else with some slight exception.
                    </li>
                    <li>
                        In order to use bootstrap-toggle, you must give your input tag the 
                        <code>.bootstrap-toggle</code> class. <br /> 
                        For example, the following tag: <br />
                        <% input_string = 'input class="bootstrap-toggle" type="checkbox" ' %>
                        <% input_string += 'checked data-toggle="toggle" data-on="Bootstrap" ' %>
                        <% input_string += 'data-off="Toggle" data-onstyle="primary" ' %>
                        <% input_string += 'data-offstyle="secondary"' %>
                        <code>&lt;<%= input_string -%>&gt;</code> <br />
                        produces this:
                    </li>
                    <input class="bootstrap-toggle" type="checkbox" checked data-toggle="toggle" 
                            data-on="Bootstrap" data-off="Toggle" data-onstyle="primary" 
                            data-offstyle="secondary">
                </ul>
            </li>
            <li>
                jQuery
                <ul>
                    <li>
                        This site is configured to use
                        <a href="https://api.jquery.com/" target="_blank">jQuery</a>
                        the way it might be used anywhere else
                    </li>
                    <li>
                        If you're interested in seeing an example of it in use, feel free to look 
                        at <code>app/assets/javascripts/bootstrap-toggle-listener.js</code>
                    </li>
                </ul>
            </li>
            <li>
                Landing Page
                <ul>
                    <li>The site's landing page is configured to be <code>Home#index</code></li>
                    <li>
                        What you're looking at now can be found and edited at 
                        <code>app/views/home/index.html.erb</code>
                    </li>
                </ul>
            </li>
            <li>
                Header
                <ul>
                    <li>
                        You can find and edit the header partial at 
                        <code>app/views/partials/_header.html.erb</code>
                    </li>
                    <li>
                        It is automatically rendered throughout every page of the website. If you 
                        wish to stop this from happening, simply go to 
                        <code>app/views/layouts/application.html.erb</code> and remove the 
                        <code><%%= render 'partials/header' %></code> tag.
                    </li>
                </ul>
            </li>
            <li>
                Footer
                <ul>
                    <li>
                        You can find and edit the footer partial at 
                        <code>app/views/partials/_footer.html.erb</code>
                    </li>
                    <li>
                        It is automatically rendered throughout every page of the website. If you 
                        wish to stop this from happening, simply go to 
                        <code>app/views/layouts/application.html.erb</code> and remove the 
                        <code><%%= render 'partials/footer' %></code> tag.
                    </li>
                </ul>
            </li>
            <li>
                Colors
                <ul>
                    <li>
                        You can customize this site's color scheme by altering the 
                        <code>$color</code> variables at the top of 
                        <code>app/assets/stylesheets/application.scss</code>
                    </li>
                    <li>
                        These variables are defined before importing bootstrap, which allows you 
                        to alter bootstrap's 
                        <a href="https://getbootstrap.com/docs/4.0/utilities/colors/" 
                                target="_blank">
                                color definitions
                        </a>
                    </li>
                    <li>
                        If you don't want your color scheme to override bootstrap's, simply delete 
                        those <code>$color</code> definitions before 
                        <code>@import 'bootstrap';</code> at the top of 
                        <code>app/assets/stylesheets/application.scss</code> and either define 
                        your colors after it or use the bootstrap color scheme.
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>