// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.select-patient-container {
    margin: 50pt auto;
}

.select-patient-header {
    text-align: center;
    margin: 0 auto;
}

.select-patient-form {
    width: 350pt;
    margin: 20pt auto;
}